{% extends 'base.html' %}
{% block title %}Online Market{% endblock %}
{% block menu %}
    <a href="{% url 'index' %}">Add item</a>
{% endblock %}
{% block content %}
<h1>Welcome to Online Market</h1><br/>
{% for product in products %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
                <p class="card-text">Category: {{ product.get_category_display }}</p>
                <p class="btn btn-primary">Price: {{ product.price }} som</p>
            </div>
        </div>
        <br/>
{% endfor %}
{% endblock %}
